<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    <li role="presentation"><a href="#feed" aria-controls="feed" role="tab" data-toggle="tab">User Feed</a></li>
    <% if current_user.admin? %>
      <li role="presentation"><a href="#control_panel" aria-controls="control_panel" role="tab" data-toggle="tab">Control Panel</a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <div class="container">
        <h1>Profile</h1> 

        <%= render 'profile' %>

      </div> 




    </div>
    <div role="tabpanel" class="tab-pane" id="settings"><%= render :template => 'devise/registrations/edit.html.erb', locals: {resource: current_user} %></div>
    <div role="tabpanel" class="tab-pane" id="feed">User Feed</div>
    <div role="tabpanel" class="tab-pane" id="control_panel">Control Panel</div>
  </div>

</div>


