/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.text-align-center {
	text-align: center;
}


.title-box {
	overflow: hidden;
	width: 60%
}

.url-box {
	overflow: hidden;
	width: 40%
}

.width-fixed {
    width: 280px;
}

table{
    table-layout: fixed;
    max-width: 100%;
}

.width-variable {
    overflow: hidden;
    width: auto;
    white-space: nowrap;

}